body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #fff;
}

.link--cta {
    size: 16px;
    color: aquamarine;
}

.header--level2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.gray-paragraph {
    color: gray;
    font-size: 21px;
}